
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
  }

  .menu {
    background-color: #333;
    border: 1px solid #000;
    margin: 10px;
    padding: 5px;
  }
  
  .menu ul {
    list-style-type: none;
  }
  
  .menu li {
    display: inline-block;
    margin: 5px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
  }
  
.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    min-width: 100px;
  }
  
  .dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown li {
    display: block;
    padding: 5px;
  }
  
  .dropdown a {
    color: #333;
    text-decoration: none;
  }
  
  .menu li:hover .dropdown {
    display: block;
  }
  
  .menu li:hover a {
    color: #ff0;
  }
  
  .dropdown li:hover a {
    color: #f00;
  }
  